# Virtual enviroment
.venv/
env/
venv/

# Local databases
*.db
*.sqlite3

# Cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Local secret files
.env
*.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db